<html>
    <head>
        <title>Crear Pedido</title>
    </head>
    <body>
        <h1>Aqui se crea pedidos</h1>

        <!--Aque deve de ir un nav-->

        <!--Este es el sistema para crear un pedido
        porlo que debe de hacerse de la siguiente forma
        Un pedido se compone de algunas propiedades generales
    
        Empresa Cliente
        Nombre de Producto
        Cantidad de Producto.
        Fecha de Inicio
        Fecha de Finalizacion
    
        Actividades
        
        Fase de Entrega de Materiales
        Fase de Corte
        Fase de Ensamble
        Fase de Doblado y Empacado
        Fase de Envio

        Entonces Estas son Las fases en la que se hara el producto.
    -->


    </body>
</html>